################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Prva/.vs/Prva
/Prva/Prva/obj/Debug
/PrvaAplikacija/.vs/PrvaAplikacija
/PrvaAplikacija/PrvaAplikacija/bin/Debug
/PrvaAplikacija/PrvaAplikacija/obj/Debug
